<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jan_27  zdyScrollview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A73DF65A1C585C2A005E3F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A73DF6731C585C2A005E3F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A73DF67E1C585C2A005E3F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
